header{
	background-color: #ffc107;
	color: rgb(59, 44, 42);
}
body{
    background-color: rgb(209, 248, 246);
	color: #1b437e;
}
.footer {
	background-color: #ffc107;
	color: #4e0e0e;
	padding: 15px;
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
}
.footer p{
    margin: 0
}